body {
  background-color: #f2f4f8;
  font-family: "Segoe UI", sans-serif;
}

h1, h3 {
  color: #212529;
}

#upcomingPaymentsList .border-bottom {
  border-color: #e9ecef !important;
}

#upcomingPaymentsList strong {
  font-size: 1rem;
}

#upcomingPaymentsList small {
  font-size: 0.75rem;
}